@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #050505;
  color: white;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
